{{define "main"}}
<section class="py-16 md:py-24">
  <div class="container text-center mx-auto">
    <div class="h2 text-3xl md:text-6xl font-bold">{{.Title}}</div>
  </div>
</section>

<section class="pb-16 md:pb-24">
  <div class="container mx-auto">
    {{range .RegularPages}}
    <a href="{{.Permalink}}">
      <div
        class="md:grid grid-cols-12 justify-center md:p-10 bg-tiger-dark/[.1] max-w-[100%] md:max-w-[70%] mx-auto gap-10 items-center hover:bg-tiger-dark/[.2] mb-5"
      >
        <div class="col-span-10 md:col-span-5 p-5 md:p-0">
          <img src="{{.Params.image}}" alt="Blog" class="max-w-full" />
        </div>
        <div class="col-span-12 md:col-span-7 p-5 md:p-0">
          <div class="flex mb-5">
            <ul class="flex gap-10">
              <li class="text-tiger-dark/[.6]">
                <i class="fa-regular fa-user"></i> {{ .Params.author}}
              </li>
              <li class="text-tiger-dark/[.6]">
                <i class="fa-regular fa-calendar-days"></i>
                {{ .Date | time.Format "2 Jan 2006" }}
              </li>
            </ul>
          </div>
          <h3 class="font-bold text-3xl text-tiger-dark mb-5">{{.Title}}</h3>
          <p class="text-tiger-dark/[.6]">{{.Description}}</p>
        </div>
      </div>
    </a>
    {{end}}

    <!---->
  </div>
</section>
{{end}}
