body {
  font-family: "Poppins", "sans-serif";
  background-color: rgba(250, 235, 215, 0.4);
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.blog h1 {
  font-size: 48px;
}

.blog ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
  list-style: disc;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog h2 {
  font-size: 32px;
}

.blog h3 {
  font-size: 26px;
}

.blog h4 {
  font-size: 22px;
}

.blog h5 {
  font-size: 20px;
}

.blog h6 {
  font-size: 18px;
}

.blog p {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5rem;
}

.blog a {
  text-decoration: underline dotted;
  color: #be8e46;
}

.blog img {
  max-width: 100%;
  padding: 2rem 0rem;
}
